body *{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 14px !important;

    border-radius: 20px;
    background-color: gray;

}

.encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    text-align: center;
    font-size: 46px;
    background-color: green;
    margin-bottom: 10px;
    
}

.navigation{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 70vh;
    width: 22%;
    font-size: 12px;
    background-color: green;
}

.content{
    display: inline-flex;
    vertical-align: top;
    text-align: center;
    flex-direction: column;
    font-size: 14px;
    width: 50%;
    height: 70vh;
    margin-left: 2.5%;
    margin-right: 2.5%;
   
}
.content header{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    margin: 10px;
    border: 3px solid black;
}
.content footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    height: 15vh;
    border: 3px solid black;
}
.content article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid black;
    text-align: center;
    height: 40vh;
}

.sidebar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22%;
    height: 70vh;
    font-size: 10px;
    background-color:yellow;

}


.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
    background-color: yellow;
    height: 8vh;

}

[class*="a"]:not([class$="r"]) {
    background-color: blue;
}
[class$="r"] {
    background-color: magenta;
}
