#body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 14px !important;
}

.encabezado{
    text-align: center;
    font-size: 46px;
    background-color: blue;
}

.navigation{
    font-size: 12px;
    background-color: blue;
}

.content{
    font-size: 14px;
}

.sidebar{
    font-size: 10px;
    background-color:magenta;
}

.footer{
    text-align: center;
    font-size: 10px;
    background-color: magenta;
   

}

